.App {
  display: flex;
  background-color: black;
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
